.tabs {
    background: #ffffff36;
    box-shadow: 4px 4px 5px #f5f5f53e;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    border-radius: 4px;
    padding: 30px;
    gap: 1rem;
    p {
      padding-bottom: 1rem;
    }
  }
  
  .tabwrap {
    display: flex;
    gap: 2rem;
  }

  .tab {
    display: none;
  }


  

