.tabs {
  position: relative;
  max-width: 1000px;
  width: 90%;
  border-radius: 4px;
  padding: 30px;
  gap: 1rem;
  p {
    padding-bottom: 1rem;
  }
}
  
  .tabwrap {
    display: flex;
    gap: 2rem;
  }

  .tab {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 5px #f5f5f53e;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(50px);
    &.selected {
      opacity: 1;
      transform: translateY(0px);
    }
  }


  

